<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EcoTrack - Login</title>
    <link rel="icon" type="image/png" href="/static/img/index/icone-planeta.png">

    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <!-- Botão de voltar para Home -->
    <a href="/" class="home-btn">
        <img src="/static/img/cadastro/icone-home.webp" alt="Home">
        <span>Home</span>
    </a>

    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <img src="/static/img/index/icone-planeta.png" alt="Ícone Planeta">
                <h1>EcoTrack</h1>
            </div>
            <h2>Faça login</h2>

            <!-- Exibe a mensagem de erro, se houver -->
            {% if error_message %}
              <div class="alert alert-danger">
                {{ error_message }}
              </div>
            {% endif %}

            <form action="/auth/login" method="POST">
                <div class="input-group">
                    <label for="email" class="floating-label">E-mail</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="input-group">
                    <label for="senha" class="floating-label">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>

                <button type="submit" class="btn-primary">Entrar</button>
            </form>
            <p class="cadastro-link">Não tem uma conta? <a href="/auth/cadastro">Cadastre-se</a></p>
        </div>
    </div>
    <script src="/static/js/login.js"></script> <!-- Chama o JavaScript -->
</body>
</html>
